%article#content
  ~ @page.to_html(self)
      
  - unless @page.categories.empty?
    .categories
      Category :
      - @page.categories.each do |category|
        %a{ :href => category.abspath }= category.heading

    = haml :comments, :layout => false