Date: 18 Dec 2011
Categories: archive, category/catatan, category/sepak-bola
Description: Arsenal Gagal Membalaskan Dendam Kekalahannya Dengan City Pada Waktu Ajang Piala Carling Lalu
Keywords: Arsenal, Manchester City, English Premier League
Summary: Arsene Wenger berusaha sekuat tenaga agar pasukannya dapat meladeni permainan Manchester City. Arsene Wenger pun menurunkan semua pemain intinya kecuali <em>Andre Santos</em> yang mengalami Cedera. Arsenal menurunkan pemain-pemain berkualitasnya : Szczesny, Per Mertesacker, T. Vermaelen, Koscielny, J. Djourou, A. Song, Mikel Arteta, A. Ramsey, Gervinho, T. Walcott, <em>&amp;</em> Robin Van Persie.

%h1 Arsenal Gagal Kalahkan Manchester City
<p>Arsene Wenger berusaha sekuat tenaga agar pasukannya dapat meladeni permainan <strong>Manchester City</strong>. Arsene Wenger pun menurunkan semua pemain intinya kecuali <em>Andre Santos</em> yang mengalami Cedera. <strong>Arsenal</strong> menurunkan pemain-pemain berkualitasnya : <span class="tandai">Szczesny, P. Mertesacker, T. Vermaelen, Koscielny, J. Djourou, A. Song, Mikel Arteta, A. Ramsey, Gervinho, T. Walcott, <em>&amp;</em> Robin Van Persie.</span></p>

<p>Permainan di babak pertama berjalan dengan saling serang. Permainan saling terbuka masih belum cukup untuk menambah 1 skor sekalipun. Namun bukan tanpa peluang, Arsenal melalui penyelamatan yang gemilang dari penampilan <strong>"Szczesny</strong>" dapat menyelamatkan gawangnya dari tendangan <strong>M. Balotelli</strong>. Begitu juga dengan penampilan gemilangnya <strong>"Joe Hart"</strong> yang berkali-kali menyelamatkan gawangnya dari serangan bertubi-tubi yang datang dari pemain depan Arsenal baik <strong>Van Persie, Ramsey, <em>&amp;</em> kawan-kawan.</strong></p>

<p>Skor masih imbang 0-0 hingga turun minum. Tak lama babak ke-2 berlngsung, Pasukan Manchester City langsung melancarkan sebuah serangan yang kemudian membuahkan Gol satu-satunya untuk City yang diciptakan oleh <strong>"David Silva"</strong>. Arsenal mulai panas <em>&amp;</em> mulai melancarkan serangan dari mulai terjadinya Gol David Silva hingga pertandingan usai. Namun tidak membuahkan gol penyama kedudukan karena berkat penampilan gemilangnya Joe Hart yang menggagalkan lesatan bola dari Ramsey, Van Persie, juga Vermalen.</p>

<p>Akhirnya hingga pertandingan usai, Arsenal masih belum bisa menyamakan kedudukan. Arsenal dipaksa mengakui keunggulan para pemain Manchester City yang bermain sangat apik. Kalah lagi donk ... Arsenal masih belum bisa menuntaskan dendamnya ketika dipaksa menyerah 1-0 pada ajang Piala Carling. Kemenangan Manchester City atas Arsenal juga berakibat menjauhnya City dari Rivalnya Manchester United.</p>