Date: 13 Nov 2011
Categories: archive, category/catatan
Description: Acara Di Hari Raya Idul Adha
Keywords: idul adha, acara penting, berqurban di hari raya idul adha, resepsi pernikahan
Summary: Ini tentang apa yang sedang saya pikirkan & juga firasat saya tentang Timnas Indonesia U-23 kedepannya. Apa bisa meraih medali emas, perak, perunggu, atau malah tidak sama sekali ...? Indonesia kini melaju ke semifinal dengan perolehan 9 poin "Runner Up Group". Itu disebabkan karena kekalahan sore tadi dari malaysia dengan skor 0-1 yang menjadi Juara Group A.

%h1 Banyak Acara Di Hari Raya Idul Adha Ini
<p>Super sibuk ? Bukan itu masalahnya, Kini masalah yang saya hadepin ini waktu luang. Kok Waktu Luang ... ? Yah, saya harus memberikan waktu luang saya untuk menghadiri beberapa acara penting yang tidak enak jika saya tidak hadir. Bahkan, saya sampai menunda Interview Kerja saya hanya untuk menghormati sepupu saya yang ingin menikah 4 hari setelah perayaan hari raya idul adha.</p>

<p>Acara pertama yang tidak bisa di tinggal yakni acara berqurban yang mana saya menjadi Panitia penyelenggara. Okelah jika saya tinggal mungkin hanya kata "Tidak Bertanggung Jawab" yang akan saya dapat, Tapi ada lagi acara yang sangat penting yaitu Resepsi Pernikahan Kedua Sepupuku yang akan di langsungkan tepat 4 Hari <em>&amp;</em>6 Hari "Perayaan Hari Raya 'Idul Adha".</p>

<p>Bagaimana jika saya tidak hadir ...? Ya meski saya tidak hadir ya aqod nikah ke-2 sepupu saya tetep akan dilangsungkan kok. Cuma bagaimana menurut saudara-saudara saya ? Apa saya di cap sebagai orang yang tidak menghormati saudaranya ? Mungkin saja ... Bahkan ada yang bilang "Lu bisa aje ga hadir di acara ntu klo lu mau sepi dari saudara lu di acara yang bakal lu bikin". Ah, jangan ambil resiko donk. Lebih baik saya meluangkan sedikit waktu hanya untuk menghadiri sekelumit acara penting yang memang harus saya hadiri. Oke ! Oia, <strong>Selamat Hari Raya 'Idul Adha ya ... !</strong></p>