Date: 27 Nov 2011
Categories: archive, category/catatan
Description: Faktor yang membuat Suami Istri Sering Ribut
Keywords: keluarga, keributan rumah tangga, Suami Istri Ribut
Summary: Ini bukan pengalaman pribadi lho, Ini merupakan curhatan temen saya yang memang sedang ada masalah dengan keluarganya. Mengapa keluarganya bermasalah ? Faktor utama yang membuat suami ngeributin istrinya juga sebaliknya adalah kurangnya komunikasi.

%h1 Mengapa Suami Istri Sering Ribut ? Ini Alasannya
<p>Ini bukan pengalaman pribadi lho, Ini merupakan curhatan temen saya yang memang sedang ada masalah dengan keluarganya. Mengapa keluarganya bermasalah ? Faktor utama yang membuat suami ngeributin istrinya juga sebaliknya adalah kurangnya komunikasi.</p>

<p>Kejujuran <em>&amp;</em> kepercayaan menjadi penentu keharmonisan dalam menjalin hubungan. Apa benar ...? Ah itu hanya kata-kata yang terucap dari mulut sang psikolog yang mencoba menolong kliennya yang sedang mengalami kerusakan dalam keluarganya. Jadi apa menurut saya yang membuat jalinan hubungan rumah tangga menjadi kacau ...? Simak detailnya di bawah ini...</p>

<h3 style="font-size:1.5em;margin-bottom:10px;text-align:center">Kurangnya Komunikasi Antara Suami <em>&amp;</em> Istri</h3>

<p>Komunikasi itu sangat penting ! Itu akan membuat kepercayaan Antara Suami <em>&amp;</em> Istri menjadi sangat kuat jika di landasi dengan kejujuran. Selain itu, Komunikasi yang baik berupa canda <em>&amp;</em> tawa berperan penting untuk menghilangkan rasa kebosanan. Memang kadang para <del>suami yang doyan selingkuh</del> beralasan karena istrinya kurang memperhatikan penampilan ketika ingin bercumbu <em>&amp;</em> itu membuat sang suami bosan. Tapi ada juga lho yang istrinya cantik tapi masih doyan selingkuh. Itu dikarenakan sempitnya waktu yang memungkinkan keduanya untuk lebih banyak berkomunikasi. Entah karena sibuk atau memang keduanya pendiam.</p>

<h3 style="font-size:1.5em;margin-bottom:10px;text-align:center">Penghasilan Yang Tidak Semestinya</h3>

<p>Mengapa saya tulis "Penghasilan Yang Tidak Semestinya" ? Karena ketika satu keluarga mempunyai penghasilan yang sangat tinggi, itu akan memacu adanya hura-hura yang tidak jelas <em>&amp;</em> banyak waktu yang dikorbankan untuk mencari <em>&amp;</em> mencari lagi uang. Karena manusia itu serakah, ketika allah memberi rezeki yang sangat banyak ketika itu pula orang tersebut merasa yakin jika semakin banyak waktu yang akan digunakan untuk menguras rezeki itu, maka akan banyak pula rezeki itu datang.</p>

<p>Sebaliknya, Semestinya keluarga A harus di beri penghasilan lebih tapi malah kekurangan yang didapat. Ini sudah tidak aneh lagi mengapa banyak orang yang pecah dalam berkeluarga hanya karena uang. Jadi solusinya hanya berkata sejujur-jujurnya kepada keluarga <em>&amp;</em> berusaha mencari penghasilan tambahan agar kekurangan dalam rumah tangganya terselesaikan.</p>

<p>Karena saya menulis artikel ini di waktu yang sangat sempit, mudah-mudahan akan bersambung lagi. Masih banyak yang harus saya tulis disini dan akan di lanjutkan pada atikel ini dalam waktu yang berbeda.</p>
