Date: 14 Nov 2011
Categories: archive, category/blogging-resource
Description: Blog engine kecil yang cocok untuk menulis catatan kecil
Keywords: blog engine terkecil, toto blog engine, catatan kecil, blog kecil
Summary: Entah apa yang ada di dalam pikiran saya hingga saya memberanikan membuat personal blog menggunakan blog engine toto. Yups, saya memilih toto karena pengoperasiannya sangat mudah <em>&amp;</em> menyenangkan. Alesan lain saya menggunakan toto karena dapat di host di "Heroku" secara gratis. Jika membuatnya di "Heroku", maka akan dapat subdomain <code>http://namakamu.heroku.com</code>.

%h1 Buat Blog Simple Untuk Catatan Kecil
<p>Entah apa yang ada di dalam pikiran saya hingga saya memberanikan membuat personal blog menggunakan blog engine toto. Yups, saya memilih toto karena pengoperasiannya sangat mudah <em>&amp;</em> menyenangkan. Alesan lain saya menggunakan toto karena dapat di host di "Heroku" secara gratis. Jika membuatnya di "Heroku", maka akan dapat subdomain <code>http://namakamu.heroku.com</code>.</p>

<p>Di heroku juga dapat mengcustom domain sehingga blog yang anda buat bisa menggunakan domain sendiri seperti <code>"http://www.nurulimam.com"</code>. Syarat agar dapat menambahkan add-on domain cukup mudah <em>&amp;</em> Gratis. Hanya dengan melakukan Verifikasi akun dengan menggunakan "CC" kalian bisa menambahkan Fitur "Add-On Domain Di Heroku".</p>

<p>Sebelum memutuskan untuk membuat blog ini dengan menggunakan "Toto", saya juga sempet manjatuhkan pilihan pada TXP (Berbasis PHP), BlogEngine.Net (Berbasis ASP.Net), <em>&amp;</em> NestaCMS (Berbasis Ruby On Rails). Kenapa ga pilih WordPress / Drupal ? Mungkin jawaban yang tepat buat saya "Kedua CMS tersebut terlalu berat buat menampung catatan kecil saya". jadi serasa kegedean badan padahal isinya kecil banget.</p>

<p>Percobaan pertama adalah TextPaterns. Yups, CMS ini memang cocok banget di gunakan untuk "Personal Blog", Dengan tampilan defaultnya yang minimalis sudah membuat saya ingin mencobanya. Ternyata masih ada yang belum cocok dengan saya. Saya merasakan ketidakcocokan dengan TXP karena TXP masih menggunakan Database untuk menampung artikel <em>&amp;</em> lain-lain.</p>

<p>Percobaan kedua adalah BlogEngine.Net. CMS ini berbasis "ASP.Net" yang dapat di jalankan baik dengan database "MSSQL" maupun tanpa database yang mana artikel <em>&amp;</em> lainnya di simpan dalam file XML. Tapi saya merasakan adanya kejanggalan dengan CMS ini. Kejanggalan ini di dapati saya ketika saya mengamati source codenya. Keamanan CMS ini masih terbilang rentan <em>&amp;</em> akhirnya saya meninggalkan BlogEngine.Net.</p>

<p>Percobaan Terakhir adalah NestaCMS. Saya tertarik dengan CMS ini karena saya pernah melihat "Blog yang menerapkan system Magazine" menggunakan NestaCMS yang sangat sempurna. Namun itu juga terkendala bagi saya karena NestaCMS lumayan agak ribet bila di terapkan "Blogazine" <em>&amp;</em> rasanya saya ga mungkin menerapkan Blogazine pada blog ini yang sengaja di buat untuk sekedar menulis catatan semata.</p>

<p>Setelah melanglang buana (menjelajahi CMS karena saya masih belum bisa membuat CMS dengan keinginan saya} akhirnya ketemu juga yang pas <em>&amp;</em> mantabs. Pilihan itu adalah "Toto". Toto ini merupakan blog engine terkecil yang pernah saya temui. Hanya sekelumit kode (sekitar 300-an baris} yang di tulis, tapi bisa menjadikan blog kecil yang sangat menarik untuk di gunakan. Yah akhirnya saya jadikan blog ini blog yang minimalist untuk mencatat catatan harian saya.</p>