Date: 19 Nov 2011
Categories: archive, category/catatan
Description: Susahnya melakukan sesuatu pekerjaan dengan ikhlas
Keywords: keikhlasan, hati nurani, kesucian hati
Summary: Emang bukan main, Ikhlas itu susah banget buat dilakukan tapi begitu mudahnya untuk di ucapkan. Itulah manusia, Berani mengatakan tapi tidak membuktikan perkataan yang sudah di utarakan. Ketika banyak orang yang mengklaim dirinya sudah mengemban tinggi-tinggi kata Keikhlasan, adakah yang sudah mengetahui arti & definisi tentang kata Keikhlasan ?

%h1 Susahnya Melakukan Sesuatu Dengan Ikhlas
<p>Emang bukan main, Ikhlas itu susah banget buat dilakukan tapi begitu mudahnya untuk di ucapkan. Itulah manusia, Berani mengatakan tapi tidak membuktikan perkataan yang sudah di utarakan. Ketika banyak orang yang mengklaim dirinya sudah mengemban tinggi-tinggi kata <strong>"Keikhlasan"</strong>, adakah yang sudah mengetahui arti <em>&amp;</em> definisi tentang kata <em>Keikhlasan</em> ?</p>

<p>Mungkin kalian pernah merasakan adanya keikhlasan yang mengalir pada hati nurani ? Jika jawabannya iya, Berarti anda belum pernah sama sekali merasakan keikhlasan. Kok begitu ...? Karena memang setelah saya pelajari teori tentang keikhlasan diantaranya adalah <em>"Keikhlasan itu di dapat ketika kita tidak menyadarinya. Jika kita menyadari adanya keikhlasan, berarti hati kalian masih menyimpan rasa ingin di banggakan entah pada orang lain maupun diri sendiri."</em></p>

<p>Coba pikirkan kejadian yang telah menimpa saya kemarin yang membuat saya sadar bahwa Ikhlas itu kata yang sangat mudah di ucapkan namun berat sekali untuk di lakukan. Simak cerita pendek saya dibawah ini ...</p>

<p>Waktu saya membutuhkan sebuah mobil box untu mengangkut sebuah barang, saya mencarinya dimana-mana namun tidak ada satupun mobil box yang kutemui. Ketika saya berjanji pada saya sendiri bahwa <em>"Jika ada orang yang sudi membantu saya untuk memuat barang-barang yang akan saya angkut, Saya bersedia membayar ongkos standard & membantu apa yang dia butuhkan (jika saya mampu)."</em> Tak lama kemudian allah memberikan jalan kepada saya melalui mobil box yang membawa penuh gas ukuran kecil di mobilnya.</p>

<p>Ketika saya menghampiri orang yang mengemudikan mobil tersebut sambil memohon untuk membantu saya mengangkut barang bawaan saya, Orang itupun menjawab <em>"Saya sih mau membantu anda, Tapi apa daya karena mobil saya memuat penuh gas ini. Oke saya bantu tapi tunggu saya turunkan dulu gas-gas yang saya bawa ini & di masukkan ke dalam gudang dulu."</em></p>
    
<p>Saya berfikir orang itu baik banget yah sampe-sampe dia tanpa istirahat lagi langsung mengangkat gas-gas tersebut untuk di pindahkan ke gudang dia karena mobilnya mau di pakai untuk mengangkut barang saya. Saya langsung bergegas membantu dia meski dia tidak meminta saya untuk membantunya.</p>

<p>Keringat bercucuran kemana-mana <em>&amp;</em> terus membasahi kaos yang saya kenakan. Maklum saya tidak biasa <em>&amp;</em> tidak bisa bekerja kasar. badanku terasa sangat berat karena kecapean. Ketika semua gas sudah di turunkan tiba-tiba kakak saya datang dengan membawakan 1 mobil box yang bertujuan untuk mengangkut barang saya. Kakak saya bilang mobilnya udah dapet nih, ayo diangkut sekarang ! Weleh ...? Akhirnya saya tidak jadi memakai mobil box yang sudah saya bantu turunkan gasnya.</p>

<p>Bagaimana saya merasakan kekesalan tersebut hingga sadarlah saya bahwa allah memberikan sebuah ilmu yang sangat besar "Bahwa keikhlasan itu di dapat ketika kita tidak menyadarinya". Saya tidak menyadari apa yang saya kerjakan ketika saya mengangkut gas tadi, Tapi setelah datangnya kakak saya tiba-tiba saya sadar bahwa kerja saya seolah-olah tidak ada hasilnya <em>&amp;</em> hilanglah kesempatan saya merasakan keindahan rasa keikhlasan yang telah lama kucari.</p>