Date: 16 Nov 2011
Categories: category/blogging-resource
Description: Hal yang harus dilakukan setelah selesai install dan update wordpress
Keywords: keamanaan wordpress, menutupi error code, bug wordpress, exploit, plugin wordpress, fix rss feed, htaccess wordpress, best wordpress permalinks
Summary: Kenapa "Pihak WordPress" masih belum memperbaiki error code bahkan hanya sekedar menutupi error code yang muncul username cPanel kita ? Jawabannya mungkin karena pihak wordpress sengaja tidak memperbaiki kesalahan tersebut agar kita "Selaku Pengguna CMS Open Source" dapat belajar sedikit demi sedikit isi dari source codenya <em>&amp;</em> menambal bugs pada CMS tersebut bahkan klo kita sanggup, Kita juga disarankan agar dapat mengembangkannya.

%h1 10 Hal Yang Harus Di Lakukan Setelah Install WordPress
<p>Kenapa "Pihak WordPress" masih belum memperbaiki error code bahkan hanya sekedar menutupi error code yang muncul username cPanel kita ? Jawabannya mungkin karena pihak wordpress sengaja tidak memperbaiki kesalahan tersebut agar kita "Selaku Pengguna CMS Open Source" dapat belajar sedikit demi sedikit isi dari source codenya <em>&amp;</em> menambal bugs pada CMS tersebut bahkan klo kita sanggup, Kita juga disarankan agar dapat mengembangkannya.</p>

<p>Lalu apa yang harus kita lakukan pertama kalinya setelah selesai menginstall WordPress ? Oke, ini akan saya tulis sebagai catatan saya supaya kelak saya lupa <em>&amp;</em> membutuhkannya, Saya dapat melihat <em>&amp;</em> membacanya di catatan sendiri tanpa harus Gugling dulu mencari artikel yang sesuai dengan kebutuhan saya sekarang.</p>

<h3 style="font-size:1.5em;margin-bottom:10px;text-align:center">Step Pertama "Mengamankan Direktori WordPress"</h3>

<p>Pertama-tama, masuk ke direktori WordPress sesuai dengan hosting yang anda pakai. Bisa menggunakan Webdisk, cPanel File Manager, VistaPanel File Manager, PleskPanel File Manager, Bahkan Bisa juga dengan menggunakan FTP. Setelah masuk ke direktori WordPress yang anda install, Silahkan cari file yang bernama <code>wp-settings.php</code>. Masukkan <code>error_reporting(0);</code> setelah kode <code>&lt;?php</code> <em>&amp;</em> simpan perubahan.</p>

%pre.code
    - preserve do
        :escaped
          &lt;?php
           error_reporting(0);
                   /**
               Ini Hanya Contoh Penempatan Kode <strike>Penghapus Dosa</strike>
 
                   @package Nurul Imam Notes
                     */

<p>Kemudian amankan juga direktori WordPress pada folder <code>wp-admin</code>. Caranya masih sama seperti cara di atas hanya dengan menambahkan <code>error_reporting(0);</code> setelah kode <code>&lt;?php</code>. File yang harus di tambahkan kode tersebut adalah <code>admin-functions.php</code>, <code>menu.php</code>, <code>menu-header.php</code>, <code>options-head.php</code>, <em>&amp;</em> <code>upgrade-functions.php</code>.</p>

<p>Lanjut ke Direktori WordPress pada folder <code>wp-admin/includes</code>. Di direktori ini banyak sekali bugs yang harus di tambal dengan cara di atas. Namun, saya punya alternatif lain untuk menambal bugs pada folder ini yang lebih cepat tanpa mengedit satu persatu file yang mengandung pesan kesalahan. Cara alternatif itu adalah membuat file <code>.htaccess</code> pada direktori tersebut, Lalu isikan file <code>.htaccess</code> itu dengan beberapa baris kode di bawah ini...</p>