Date: 22 Dec 2011
Categories: archive, category/catatan, category/computer, category/linux
Description: Memasang atau menginstall Codec Amarok untuk Linux Fedora 16
Keywords: Codec, Media Player, Fedora 16, Music
Summary: Update artikel kali ini cuma mau share dikit nih pengalaman temen saya.
Yups, temen saya ini masih awam dalam mengoperasikan system Linux. Varian
Linux yang di coba untuk pertama kalinya adalah Fedora 16, Padahal saya
nyaranin supaya make Ubuntu aja (yang sangat mudah untuk digunakan). Ketika
selesai installasi Fedora 16, dia dibikin pusing karena tidak bisa memutar
musik. Itu semua dikarenakan tidak disertakannya Codec karena alasan hak
cipta atau apalah saya ga ngerti.

%h1 Cara Mempercepat Proses Propagasi DNS
<p>Update artikel kali ini cuma mau share dikit nih pengalaman temen saya.
Yups, temen saya ini masih awam dalam mengoperasikan system Linux. Varian
Linux yang di coba untuk pertama kalinya adalah <strong>Fedora 16</strong>,
Padahal saya nyaranin supaya make Ubuntu aja (yang sangat mudah untuk
digunakan). Ketika selesai installasi Fedora 16, dia dibikin pusing karena tidak
bisa memutar musik. Itu semua dikarenakan tidak disertakannya Codec karena
alasan hak cipta atau apalah saya ga ngerti.</p>

<p>Untuk cara installasi Codec Amarok ini sangat gampang sekali, Tinggal
buka "Terminal Konsole" <em>&amp;</em> masuk sebagai root dengan mengetikkan
perintah <code>su</code> diikuti dengan memasukkan <a href="/">password root</a>
anda. Karena temen saya menggunakan Amarok sebagai pemutar musik
favoritenya, Maka saya akan kasih perintah installasi manual plugin KDE-Based
media player yang hanya memerlukan paket <em>xine-lib-extras-freeworld</em>
saja. Cara installasinya hanya dengan mengetikkan perintah <code>yum install
amarok xine-lib-extras-freeworld</code>.</p>

<p>Demikianlah yang saya tulis kali ini. Masih banyak banget konsep artikel
yang dari dulu belum sempet saya publish baik di blog ini maupun di blog
<a href="http://www.nurulimam.info" title="Nurul Imam Notes"
target="_blank">WordPress</a>. Masih ngantri sesuai jadwal deh... hehehehe</p>