Date: 29 Nov 2011
Categories: archive, category/catatan, category/sepak-bola
Description: Juventus berhasil mempertahankan gelar tak terkalahkan musim ini setelah bersusah payah menahan imbang tuan rumah Napoli
Keywords: juventus, napoli, serie-a
Summary: Serunya pertandingan tadi antara Juventus VS Napoli. Pertandingan tersebut adalah pertandingan yang seharusnya dijalani 2 minggu lalu, Namun pertandingan batal karena Stadiun Napoli tidak layak untuk di langsungkan pertandingan tersebut karena hujan besar.

%h1 Tahan Imbang Napoli, Juventus Belum Terkalahkan
<p>Serunya pertandingan tadi antara Juventus VS Napoli. Pertandingan tersebut adalah pertandingan yang seharusnya dijalani 2 minggu lalu, Namun pertandingan batal karena Stadiun Napoli tidak layak untuk di langsungkan pertandingan tersebut karena hujan besar.</p>

<p>Mingggu kemarin, Juventus berhasil meraih 3 poin atas tuan rumah Lazio. Kini Juventus lagi-lagi ingin memenangkan pertandingan ini (Minimal hasil seri) untuk mempertahankan posisinya sebagai pemuncak klasemen sementara <em>&amp;</em> mempertahankan gelar tak terkalahkan di musim ini.</p>

<p>Impian Conte ternyata terwujud karena Juventus berhasil menahan imbang 3-3 tuan rumah Napoli pada pertandingan ini. Juventus hampir kebobolan lewat tendangan penalty Hamsik yang di anulir oleh wasit karena salah satu pemain masuk lebih dulu kedalam kotak penalty sebelum hamsik menendang bola yag masuk menjebol gawang yang di kawal oleh Buffon. Penalty di ulangi <em>&amp;</em> akhirnya Hamsik gagal menjebol gawang yang yang di kawal buffon karena tendangannya melenceng ke atas tengah mistar gawang.</p>

<p>Tak lama lagi hamsik berhasil membayar kesalahannya dengan melesatkan bola dengan kepalanya <em>&amp;</em> berhasil membuahkan gol pertama untuk Napoli. Juventus tertinggal 0-1 atas tamunya Napoli. Kini giliran Pandev yang mencatatkan dirinya di papan skor ketika pandev berhasil mengeksekusi bola pantulan yang berasal dari kesalahan Andrea Pirlo dari usahanya membuang bola.</p>

<p>Skor 2-0 bertahan sampai turun minum. Di awal-awal babak kedua, Juventus berinisiatif menekan terlebih dahulu ke jantung pertahanan Napoli <em>&amp;</em> berhasil membuat 1 gol yang di ceploskan oleh Matri. Saya befikir Juventus dapat menyamakan kedudukan bahkan berbalik unggul ketika gol cepat Matri. Namun saya kembali hilang kepercayaan bahwa Juventus dapat menyamakan kedudukan ketika Napoli kembali membuat satu gol dari Pandev akibat kesalahan bonnuci mengantisipasi bola.</p>

<p>Skor berubah menjadi 3-1. Juventus kembali menyerang habis-habisan seakan-akan ini adalah pertandingan yang sangat bergengsi layaknya melawan rival-rival sejatinya. Alhasil Juventus berhasil memperkecil ketertinggalannya <em>&amp;</em> menyamakan kedudukan menjadi 3-3 lewat gol yang di ciptakan oleh pemain asal paraguay <del>saya lupa namanya karena tergolong pemain baru yang jarang diturunkan oleh Conte</del> <em>&amp;</em> Simone Pepe lewat aksi individunya.</p>

<p>Alhamdulillah, meski hanya dapat 1 poin, itu lebih dari cukup harapan saya <em>&amp;</em> mungkin juga Conte yang berharap sepanjang musim Juventus tidak dapat dikalahkan layaknya Arsenal di masa jayanya <em>&amp;</em> Manchester City di paruh musim ini. Saya juga berharap Juventus meraih Scudetto tahun ini <em>&amp;</em> tahun-tahun berikutnya. Tak lupa juga saya berharap akan membaiknya kompetisi yang berjalan di tanah air tercinta ini juga kemajuan Timnas Indonesia.</p>