Date: 26 Nov 2011
Categories: archive, category/catatan, category/sepak-bola
Description: Juventus Optimis bisa mengalahkan Lazio untuk menduduki puncak klasemen sementara liga italia
Keywords: juventus, lazio, serie-a
Summary: Menanti pertandingan yang akan berlangsung antara klub favorite saya <strong>"Juventus"</strong> melawan Lazio yang akan disiarkan langsung di Indosiar. Mengejutkan ketika Udinese berhasil mengalahkan AS Roma pada sabtu dini hari lalu. Itu membuat Udinese berhasil menduduki puncak klasemen sementara di ajang SERIE-A.

%h1 Juventus Kalahkan Lazio Untuk Dapatkan Posisi 1
<p>Menanti pertandingan yang akan berlangsung antara klub favorite saya <strong>"Juventus"</strong> melawan Lazio yang akan disiarkan langsung di Indosiar. Mengejutkan ketika Udinese berhasil mengalahkan AS Roma pada sabtu dini hari lalu. Itu membuat Udinese berhasil menduduki puncak klasemen sementara di ajang SERIE-A.</p>

<p>Melihat striker Lazio yang sudah tidak muda lagi namun tajam "D Ciise <em>&amp;</em> M Klose", Juventus harus berhati-hati menjaga pertahanannya yang mulai sudah rentan. Namun hal itu harus juga di waspadai oleh Vidal yang harus berhasil membuat gelandang Lazio tidak bisa mengembangkan permainan. Rasanya agak susah untuk meredam pergerakan Hamsik yang musim ini terbilang sedang On-Fire.</p>

<p>Conte harus berfikir lebih keras lagi agar penampilan Juventus yang mulai membaik tidak tertahan sampai disini. Conte juga selain berharap untuk menjuarai liga, dia juga sangat berharap tim asuhannya dapat menjejaki ajang Champions. Juve Mulai bangkit, Tapi tunggu dulu ! Jangan terlalu banyak berharap seperti halnya Timnas Indonesia yang selalu berandai-andai seakan dia mampu melakukan segalanya.</p>

<p>Jika Juventus memenangkan pertandingan melawan Lazio yang akan berlangsung pada Minggu, 02:30 di Indosiar, Maka Juventus akan kembali pada posisi pemuncak klasemen sementara. Semoga ini bukan awal yang baik namun akhir yang buruk. Saya menginginkan Juventus memulai musim dengan baik juga mengakhirinya dengan baik.</p>

<p>Kira-kira berapa yah hasil akhirnya ? Saya menduga ini kemenangan Juventus dengan skor 2-1 atau paling buruk juga hasil seri 1-1. Namun saya mengharapkan banyak terjadinya Gol tapi bukan yang bersarang pada penjaga gawang Buffon, Namun gol yang di lesatkan oleh Mirko Vucinic, A Matri, C Marchisio <em>&amp;</em> kawan-kawan ke dalam gawang Lazio.</p>

<p>Saya penggemar berat Juventus. Dari dulu sampai sekarang, ketika jatuh sampai bangun, <em>&amp;</em> ketika memburuk sampai membaik saya tetap setia mendukung Juventus. Itu pilihan pertama, karena selain itu juga saya mendukung tim yang terbilang sedang terpuruk pada musim ini yaitu <strong>"Arsenal"</strong>.</p>