Date: 17 Nov 2011
Categories: archive, category/catatan
Description: Kata-Kata Tante yang membuat kesel
Keywords: Tante-tante, ocehan tante, pengertian
Summary: Rasa kesal yang masih nempel sampai saat menulis artikel ini. Sampe2 gua ngoceh sendiri lho ... kaya orang gila deh ngomel2 sendiri dikamar. Masalahnya ocehan tante gua tuh bikin gua waduh hancur dah hatinya. Emang tante gua yang satu ini tuh dari dulu ga pernah ada suka-sukanya ama gua.

%h1 Kesel Gara-Gara Ocehan Tante Gua
<p>Rasa kesal yang masih nempel sampai saat menulis artikel ini. Sampe2 gua ngoceh sendiri lho ... kaya orang gila deh ngomel2 sendiri dikamar. Masalahnya ocehan tante gua tuh bikin gua waduh hancur dah hatinya. Emang tante gua yang satu ini tuh dari dulu ga pernah ada suka-sukanya ama gua.</p>

<p>Ah... Gila deh, Masa gua dateng di rumahnya baik-baik mau maen sama anaknya malah dia bilang <strong>"Enak lu ye, Baru dateng malem2. Tadi sore kemana aja ? Tidur ? Lu tuh klo lagi ada yang dikerjain aja kabur ga mau bantuin. Giliran ga ada kerjaan malah nongol. Ga ada soliaritas persaudaraannya lu. Gua aje klo da acara bantuin lu, lu malah ga punya rasa pengertian sedikit aja ama gua."</strong></p>

<p>Gua ga nyangka banget tante gua sampe ngoceh kaya gitu. Dia ga tau sih perasaan gua kaya gimana. Oke mungkin gua tau masalahnya. Kemaren malem (Tepat tengah malem) gua dateng kerumahnya buat menuhin janji gua buat nemenin anaknya tante gua maen "Winning Eleven PS2". Trus abis itu gua pulang pagi karena memang gua itu capek mau tidur.</p>

<p>Sewaktu gua tidur, kenapa tante gua / anaknya ga hubungin gua klo dia butuh bantuan. Dia kira sih "Gua langsung cabut pagi itu karena mau ngehindar supaya gak bantuin dia kali ye ?". Itukan karena gua capek belom tidur ...! Trus tante gua juga ngungkit masalah bantuan dia waktu gua punya hajat. Ah itukan dia bo yang bantuin dia, seharusnya klo dia minta balesan ya jangan ama gua donk, minta sono ama kedua orang tua gua. Lagian waktu gua punya hajatpun, Anak-anak tante gua ga pada dateng buat bantuin gua !</p>

<p>Bukannya gua mau itung-itungan lho, Ini cuma ngingetin aja ama tante gua klo anaknya dia juga ga ngerti perasaan gua. Malah sebenernya gua sempet bilang <strong>"Bro, Undangan pernikahan udah dianter belom ? Klo belum biar saya bantuin buat anterin ntu undangan."</strong> sama anaknya tante gua. Itu menunjukkan klo gua itu mau membantu mereka dengan tulus. Tapi apa ucapan balasan yang gua dapet ? Wuih menyakitkan ... ! Tapi ya sudahlah ! Gua dah tau karakter semua anggota keluarga tante gua itu kayak gitu, jadi ga gua masukin ke ATI dah !</p>