Date: 9 Dec 2011
Categories: archive, category/catatan, category/sepak-bola
Description: Laga Yang Penuh Gengsi Di Ajang Liga Spanyol Antara Real Marid Melawan Barcelona Akan Segera Di Langsungkan
Keywords: real madrid, barcelona, liga spanyol
Summary: Lama rasanya menanti pertandingan yang penuh gengsi di ajang Liga Spanyol ini, Apalagi klo bukan Pertandingan Sepak Bola Real Madrid VS Barcelona. Klo kita kembali pada tahun lalu, Barcelona berhasil menaklukkan Rival Abadinya "Real Madrid" dengan skor 3-2.

%h1 Real Madrid VS Barcelona, Laga Yang Penuh Gengsi
<p>Lama rasanya menanti pertandingan yang penuh gengsi di ajang Liga Spanyol ini, Apalagi klo bukan <strong>Pertandingan Sepak Bola Real Madrid VS Barcelona</strong>. Klo kita kembali pada tahun lalu, Barcelona berhasil menaklukkan Rival Abadinya "Real Madrid" dengan skor 3-2.</p>

<p>Bukan berarti Real Madrid akan menyerah begitu saja "Ungkap Jose Mourinho". Real Madrid kalah <em>&amp;</em> tidak berhasil menjuarai Liga Spanyol meski Real Madrid mampu merebot Piala Copa Raja. Kali ini <strong>Jose Mourinho</strong> berambisi untuk merebut tiga-tiganya. Hasil akhir yang diharapkan oleh Jose adalah Juara Liga, Copa, <em>&amp;</em> Champions. Kira-kira mampukah Jose mewujudkan Impian Gilanya itu ? Ingat, Jose pernah berhasil meraih 3 Piala sekaligus pada waktu melatih Inter Milan...!</p>

<p>Lalu bagaimana dengan Barcelona ...? <strong>Barcelona</strong> terlihat kurang begitu ambisius dalam musim ini. Itu dikarenakan tertinggalnya 5 Poin dari sang Rival Abadinya "Real Madrid" akibat kekalahan 0-1 ketika melawan Getafe. Namun, Barcelona tetap Barcelona yang terkenal dengan permainan tiruan gaya Belanda "Total Voot Ball" yang mana <strong>Josep Guardiola</strong> berhasil mengklaim bahwa gaya permainan Barcelona bukan gaya belanda, Tapi melainkan taktiknya sendiri yang berhasil di beri nama <del>Taka Tiki</del>.</p>

<p>Lalu bagaimana prediksi saya ...? Cie eilaaa.... Sok jadi pengamat bola segala nih. Saya sih tidak bisa memprediksinya, namun saya bisa menentukan pemenangnya Real Madrid apabila para pemain Real Madrid bersabar menghadapi Barcelona <em>&amp;</em> melakukan Counter Attack yang sangat cepat dengan mengandalkan kemampuan sprint pemain Madrid yang jauh lebih unggul daripada barcelona. Namun, saya juga bisa saja menentukan kemenangan berpihak kepada Barcelona kalau saja Barcelona berhasil menjaga keseimbangan antara lini belakang <em>&amp;</em> lini tengahnya ketika melancarkan sebuah serangan agar tidak mudah di tembus oleh serangan balik Real Madrid.</p>

<p>Kira-kira berapa yah hasil akhirnya ? Saya mengharapkan akan lebih baik sedikit Gol namun banyak peluang. Itu yang membuat saya jadi betah menonton pertandingan sepak bola. Namun, sepertinya akan terjadi banyak gol yang berssarang di kedua gawang masing-masing. Apa memang akan terjadi sedikit gol karena kedua tim saling berhati-hati baik dalam melancarkan sebuah serangan maupun menjaga pertahanannya ? Kita liat aja pertandingannya yang akan di siarkan beberapa saat lagi...</p>