Date: 23 Oct 2011
Categories: archive, category/blogging-resource
Description: Inilah Cara Membuat Windows XP Live Flashdisk
Keywords: windows xp, xp live flashdisk, windows xp live, mudah remastering windows xp
Summary: Windows live dari USB Flashdisk ...? wah enak tuh ! Emangnya makanan ? Hehehe Enakkan klo kita gandeng2 Laptop Di Bandara Tanpa OS, Eh ternyata OS <strike>Windows XP Bajakan</strike>nya udah di simpen di Flashdisk. Ga mungkin donk klo petugas bongkar2 isi Flashdisk. Klo memang terjadi, ya tinggal bilang aja <strong>"Maaf pak, Flashdisk ini berisi file Rahasia Perusahaan yang hanya saya saja yang boleh mengetahuinya"</strong> Beres deh. Trus gimana tuh cara bikinnya ?

%h1 Membuat Windows XP Berjalan Langsung Via Flashdisk
<p>Windows live dari USB Flashdisk ...? wah enak tuh ! Emangnya makanan ? Hehehe Enakkan klo kita gandeng2 Laptop Di Bandara Tanpa OS, Eh ternyata OS <strike>Windows XP Bajakan</strike>nya udah di simpen di Flashdisk. Ga mungkin donk klo petugas bongkar2 isi Flashdisk. Klo memang terjadi, ya tinggal bilang aja <strong>"Maaf pak, Flashdisk ini berisi file Rahasia Perusahaan yang hanya saya saja yang boleh mengetahuinya"</strong> Beres deh. Trus gimana tuh cara bikinnya ?</p>

<p>Siapkan dulu Flashdisk Ukuran 1-2 GB, Klo belum punya tinggal beli di toko komputer. Siapkan juga <strong>CD Installasi Windows XP Sp2 / Sp3</strong>. Lalu Download dulu File BartPE di <code>http://www.nu2.nu/pebuilder/download</code>. Setelah semuanya sudah siap, Lakukan Installasi berikut.</p>

<p>Step Pertama, Format Flasdisk kamu dengan system FAT <em>&amp;</em> beri nama sesuka hatimu. Install BartPE yang sudah di download tadi. Trus jalankan BartPE <em>&amp;</em> masukkan <strong>CD Installasi Windows XP Sp2 / Sp3</strong> <em>&amp;</em> pilihlah path ke CD pada bagian Source di program BartPE. Pada bagian Output pastikan berisi <code>BartPE</code> <em>&amp;</em> klik Build.</p>

<p>Saatnya memasukkan file BartPE tadi ke dalam Flashdisk. Caranya cukup cari plugin BartPE yang bernama <code>peinst</code> <em>&amp;</em> jalankan. Setelah itu akan tampak Command Prompt yang berisikan berbagai pilihan. Klik 1 untuk menentukan source yang sudah di tentukan di atas. Lalu Klik 2 untuk memilih path Flashdisk (Sesuaikan dengan lokasi Flashdisk anda) Misalnya F:. Setelah itu tinggal klik 5 <em>&amp;</em> tunggu sampai selesai. Setelah selesai Restart <em>&amp;</em> ganti urutan booting menjadi Flashdisk lebih dulu <em>&amp;</em> Selamat Menikmati OS Simple anda !</p>