Date: 24 Nov 2011
Categories: archive, category/blogging-resource, category/computer
Description: Menghapus File Yang Namanya Mengandung Whitespace Dengan Git
Keywords: git, remove whitespace
Summary: Ini permasalahan terjadi ketika teman saya mau mengupdate blog personalnya yang menggunakan NestaCMS. Ketika menambahkan artikel, teman saya membuat sebuah file dengan nama yang mengandung spasi. Contoh gampangnya <em>"tulisan-pertama-untuk-catatan kecilku.haml"</em>. Nama tadi mengandug whitespace yang terletak pada catatan kecilku. Ketika itu teman saya salah mengetikkan nama yang akan di jadikan sebagai permalink post pada artikel yang akan dibuat <em>&amp;</em> berencana akan di rubah.

%h1 Git Menghapus File Yang Mengandung Spasi
<p>Ini permasalahan terjadi ketika teman saya mau mengupdate blog personalnya yang menggunakan NestaCMS. Ketika menambahkan artikel, teman saya membuat sebuah file engan nama yang mengandung spasi. Contoh gampangnya <em>"tulisan-pertama-untuk-catatan kecilku.haml"</em>. Nama tadi mengandug whitespace yang terletak pada catatan kecilku. Ketika itu teman saya salah mengetikkan nama yang akan di jadikan sebagai permalink post pada artikel yang akan dibuat <em>&amp;</em> berncana akan di rubah.</p>

<p>Jika hanya di rename, maka akan terjadi duplikat post. Lalu bagaimana cara untuk menyiasatinya ? Klo sebelumnya belum di commit sih ga terjadi duplikat post . Tapi bagaimana jika sudah terlanjur di commit. Ada dua cara yaitu hanya rename <em.&amp;</em> copy rename.</p>

<p>Cara untuk menghapusnya silahkan perhatikan perintah dibawah ini. masuk ke direktori file yang akan di hapus dengan mengetikkan <code>cd namafolder/direktori</code>. Untuk menghapus filenya gampang saja dengan mengetikkan perintah <code>git rm nama-file</code>. Misalkan nama filenya <em>"tulisan-pertama-untuk-catatan kecilku.haml"</em>, maka cara menghapusnya ketik <code>git rm tulisan-pertama-untuk-catatan\ kecilku.haml</code>. Intinya ganti whitespace dengan mengetikkan <strong>\ </strong>.</p>