Date: 24 Nov 2011
Categories: archive, category/blogging-resource, category/computer
Description: Menghapus File Yang Namanya Mengandung Whitespace Dengan Git
Keywords: git, remove whitespace
Summary: Ini permasalahan terjadi ketika teman saya mau mengupdate blog personalnya yang menggunakan NestaCMS. Ketika menambahkan artikel, teman saya membuat sebuah file dengan nama yang mengandung spasi. Contoh gampangnya <em>"tulisan-pertama-untuk-catatan kecilku.haml"</em>. Nama tadi mengandug whitespace yang terletak pada catatan kecilku. Ketika itu teman saya salah mengetikkan nama yang akan di jadikan sebagai permalink post pada artikel yang akan dibuat <em>&amp;</em> berencana akan di rubah.

%h1 Git Menghapus File Yang Mengandung Spasi
<p>Ini permasalahan terjadi ketika teman saya mau mengupdate blog personalnya yang menggunakan NestaCMS. Ketika menambahkan artikel, teman saya membuat sebuah file dengan nama yang mengandung spasi. Contoh gampangnya <em>"tulisan-pertama-untuk-catatan kecilku.haml"</em>. Nama tadi mengandug whitespace yang terletak pada catatan kecilku. Ketika itu teman saya salah mengetikkan nama yang akan di jadikan sebagai permalink post pada artikel yang akan dibuat <em>&amp;</em> berencana akan di rubah.</p>

<p>Jika hanya di rename, maka akan terjadi duplikat post. Lalu bagaimana cara untuk menyiasatinya ? Klo sebelumnya belum di commit sih ga terjadi duplikat post . Tapi bagaimana jika sudah terlanjur di commit. Ada dua cara yaitu hanya rename <em>&amp;</em> copy rename.</p>

<p>Cara untuk menghapusnya silahkan perhatikan perintah dibawah ini. masuk ke direktori file yang akan di hapus dengan mengetikkan <code>cd namafolder/direktori</code>. Untuk menghapus filenya gampang saja dengan mengetikkan perintah <code>git rm nama-file</code>. Misalkan nama filenya <em>"tulisan-pertama-untuk-catatan kecilku.haml"</em>, maka cara menghapusnya ketik <code>git rm tulisan-pertama-untuk-catatan\ kecilku.haml</code>. Intinya ganti whitespace dengan mengetikkan <strong>\ </strong>.</p>

<p>Untuk lebih lengkapnya, silahkan perhatikan <em>&amp;</em> ketikkan kode yang saya tulis di bawah ini...
Misalkan file yang akan di hapus terletak pada <code>direktori/folder notes</code>, maka ketikkan perintah dibawah ini...<pre><code>$ cd notes</code></pre>Untuk sekedar contoh file yang akan di hapus pada <code>direktori/folder notes</code> itu bernama <code><em>"tulisan-pertama-untuk-catatan kecilku.haml"</em></code>, Maka cara untuk menghapusnya hanya dengan menambahkan <code>"\"</code> sebelum spasi. Untuk lebih detailnya perhatikan kode berikut...<pre><code>$ git rm tulisan-pertama-untuk-catatan\ kecilku.haml</code></pre>Terhapus sudahlah file tersebut <em>&amp;</em> kita hanya tinggal meng-commit saja perubahan yang terjadi dengan perintah berikut...<pre><code>$ git add .
$ git commit -m "menghapus file yang namanya mengandung whitespace"</code></pre>Berhubung temen saya ini agak <del>lola</del>, jadi saya tulis lengkap deh perintahnya berikut dengan push ke heroku.<pre><code>$ cd notes
$ git rm tulisan-pertama-untuk-catatan\ kecilku.haml
$ git add .
$ git commit -m "menghapus file yang namanya mengandung whitespace"
$ git push heroku master</code></pre>Selesailah sudah saya membantu temen saya yang <del>lola</del> ini. Jadi semakin kita banyak bertanya itu lebih baik daripada kita tidak mengetahuinya sama sekali. Tapi jangan terus-terusan tanya sama saya, lebih baik cari refrensinya di internet yang memang sudah di tulis.</p>