Date: 21 Oct 2011
Categories: archive, category/blogging-resource
Description: Cara mudah merubah / menambahkan password root di ubuntu
Keywords: password root ubuntu, menambahkan password, pertama kali merubah password, root ubuntu
Summary: Ini memang sudah tak lazim untuk di jadikan sebuah catatan karena memang banyak pengguna ubuntu yang sudah tahu bahkan di luar kepala untuk masalah <strong>"Merubah, Menambahkan Password <em>&amp;</em> Login Sebagai Root Di Ubuntu"</strong>. Namun ternyata masih ada juga yang lupa bahkan tidak mengetahui sama sekali untuk masalah tersebut. Salah satunya adalah Sepupuku <strike>yang cuantik</strike> ini.

%h1 Merubah, Menambahkan Password & Masuk Sebagai Root Di Ubuntu
<p>Ini memang sudah tak lazim untuk di jadikan sebuah catatan karena memang banyak pengguna ubuntu yang sudah tahu bahkan di luar kepala untuk masalah <strong>"Merubah, Menambahkan Password <em>&amp;</em> Login Sebagai Root Di Ubuntu"</strong>. Namun ternyata masih ada juga yang lupa bahkan tidak mengetahui sama sekali untuk masalah tersebut. Salah satunya adalah Sepupuku <strike>yang cuantik</strike> ini.</p>

<p>Oke, Supaya ga bulak balik ke Google hanya dengan mengetikkan keyword <strong>"Merubah, Menambahkan Password <em>&amp;</em> Login Sebagai Root Di Ubuntu"</strong> untuk memecahkan masalah diatas, Saya kasih perintah untuk mengganti password default root ubuntu. Masuk ke Terminal <strike>Pulo Gadung</strike>, Lalu ketikkan perintah dibawah ini ...</p>

<pre><code>fitri@ubuntu:-$ sudo su
[sudo] password for fitri:
root@ubuntu:/home/fitri# sudo passwd root
Enter new UNIX password:
Retype new UNIX password:
passwd: password updated successfully
root@ubuntu:/home/fitri#
</code></pre>

<p>Untuk login sebagai root di ubuntu, Silahkan logout dulu <em>&amp;</em> masuk dengan username root <em>&amp;</em> password yang sudah di buat tadi. Gampangkan ? Jadi jangan bilang memakai Linux itu susah <em>&amp;</em> jangan menyerah dengan kurang pahamnya perintah yang harus di ketikkan dalam terminal di Ubuntu. Selamat mencoba ... !</p>