Date: 30 Nov 2011
Categories: archive, category/catatan, category/sepak-bola
Description: Andik, Mulai dari di jatuhkan sang idola sampai dengan bertukar kaos dengan beckham
Keywords: Andik Vermansyah, David Beckham, Bertukar kaos dengan Beckham
Summary: Sebelumnya Andik sudah sempat bercakap-cakap dengan kawan seperjuangannya "Patrich Wanggai" mengenai dengan tukar-menukar kaos seusai pertandingan melawan LA Galaxy ini. Patrich malah tidak kepikiran sama sekali <em>&amp;</em> mau bertukar jika ada yang memintanya saja. Tapi Andik malah sebaliknya, Dia ngotot ingin bertukar kaos dengan pemain LA Galaxy siapapun meski memang dia mengharapkan bertukar dengan David Beckham.

%h1 Impian Andik Bertukar Kaos Dengan Becks Terwujud
<p>Sebelumnya Andik sudah sempat bercakap-cakap dengan kawan seperjuangannya "Patrich Wanggai" mengenai dengan tukar-menukar kaos seusai pertandingan melawan LA Galaxy ini. Patrich malah tidak kepikiran sama sekali <em>&amp;</em> mau bertukar jika ada yang memintanya saja. Tapi Andik malah sebaliknya, Dia ngotot ingin bertukar kaos dengan pemain LA Galaxy siapapun meski memang dia mengharapkan bertukar dengan David Beckham.</p>

<p>Andik berfikir, ah rasanya tidak mungkin saya bertukar dengan Becks. Tapi apa yang terjadi ...? Setelah kejadian dilanggarnya dengan keras oleh becks <em>&amp;</em> berakhirnya pertandingan antara Indonesian Selection VS LA Galaxy, Beckham segera di hampiri oleh Andik Vermansyah. Padahal Becks sedang diwawancarai oleh Juanita Wiratmadja lho. Hehehe lucu yah bocah kecil nan imut ini dengan kepolosannya mengajak tuker kaos dengan becks yang memang sedang fokus diwawancarai.</p>

<p>Orang Indonesia booming mengidolakan Andik Vermansyah pada waktu ini. Mungkin karena Andik baru terlihat oleh publik umum ketika ajang SEA Games lalu. Padahal saya sudah mengidolakan Andik sejak umur 17 tahun waktu bermain membela Persebaya. Ini membuktikan bahwa saya tidak mengikuti jejak-jejak kalangan umum yang mengidolakan pemain hanya pada saat boomingnya saja.</p>

<p>Dugaan saya, Andik di rekrut menjadi anak asuh RD karena Aji Santoso (<em>Selaku Asisten RD</em>) memberikan saran kepada RD agar melihat kemampuan Andik. Andik terlihat talentanya ketika dilatih oleh Aji Santoso <em>&amp;</em> Pelatih bekas Persija <em>&amp;</em> Persik <del>Maaf karena saya lupa namanya</del>. Mulai sangat menonjol ketika 2 pemain Naturalisasi Indonesia "Kim Jeffry Kurniawan <em>&amp;</em> Irfan Bachdim" datang ke indonesia <em>&amp;</em> menggelar Laga amal antara Garuda Merah <em>&amp;</em> Putih. Ketika itu Andik berhasil membuat gol ke gawang lawan dengan tendangannya di luar kotak 16.</p>

<p>Itulah sedikit yang saya tau tentang Andik Vermansyah. Saya ingin sekali bertemu langsung dengan dia untuk sekedar ngobrol-ngobrol ringan <em>&amp;</em> ngobrol tentang <strong>"Dari Penjual Es Cendol Menjadi Lionel Messi Indonesia"</strong>.</p>