Date: 20 Oct 2011
Categories: archive, category/blogging-resource
Description: Mimpi Batal Kawin Karena Calon Calon Istri Tidak Kunjung Datang
Keywords: mimpi batal kawin, calon istri tidak datang, pesta pernikahan yang gagal
Summary: Sedih tapi membuat saya senang <em>&amp;</em> harus diwaspadai. Mimpi di siang bolong yang sangat menguji mentalku juga di selimuti ketakutang yang sangat dahsyat. Bila ini benar-benar terjadi, apa yang akan saya lakukan ? Namun alhamdulillah, semua itu hanya mimpi buruk yang harus saya jadikan pelajaran.

%h1 Mimpi Batal Kawin Karena Calon Mempelai Wanita Tidak Datang
<p>Sedih tapi membuat saya senang <em>&amp;</em> harus diwaspadai. Mimpi di siang bolong yang sangat menguji mentalku juga di selimuti ketakutang yang sangat dahsyat. Bila ini benar-benar terjadi, apa yang akan saya lakukan ? Namun alhamdulillah, semua itu hanya mimpi buruk yang harus saya jadikan pelajaran.</p>

<p>Mimpi apa sih yang bikin saya deg-degan ? Dalam mimpi saya, saya lagi ngunjungin <strike>pacar</strike> di rumahnya. Tiba-tiba kedua orang tua saya datang tak terduga <em>&amp;</em> mereka katakan pada kedua orang tua pacar saya <strong>"Klo dah saling cocok, kenapa meski di tunda-tunda ?"</strong></p>

<p>Calon mertua saya nanggepin <strong>"Iya bener, Klo gitu, kapan nih rencana buat di nikaninnya ?"</strong> Tanpa saya duga, Kedua orang tua saya serempak menjawab <strong>"Bagaimana klo besok aja ?"</strong> What ... ? Beneran nih ? Asyik donk ... hahahaha</p>

<p>Menjelang esok pagi, saya bersiap-siap untuk menghadapi keramaian orang hanya untuk membacakan <em>"Qobiltu nikaaha bimahari dzalik"</em>. Tapi setelah saya tunggu-tunggu kehadiran <strike>pacar</strike> saya, eh kok ga dateng2 sih ? Sang Naib pun juga mulai berbicara kepada kedua belah pihak <strong>"Kapan Ijab Qobul ini bisa dilaksanakan ?"</strong></p>

<p>Setelah menunggu sekian lama, Tiba-tiba di Hp saya yang di pegang ade saya ada panggilan masuk dari <strike>pacar</strike> saya. Saya langsung angkat telpon itu dan <strike>pacar</strike> saya katakan klo dia tidak bisa dateng di acara pernikahan itu. Lha kenapa ? <em>(saya juga ga tau kenapa, ga ada alesan yang cukup jelas dalam mimpi saya)</em>.</p>

<p>Akhirnya pelaksanaan Akad Nikah pun terpaksa di jalankan <em>(karna keluarga saya tidak mau menanggung rasa malu di hadapan para tamu yang sudah hadir)</em> meski dengan seorang pria yang menyamar jadi cewe yang berpura-pura menjadi <strike>pacar</strike> saya. Lha emang meski di gantiin yah calon mempelai wanitanya. Nikahkan ga perlu dihadirkan Calon mempelai wanitanya ? Aneh,,,Tapi itulah kejadian dalam mimpi saya <em>&amp;</em> akhirnya batallah acara pernikahan tersebut <em>(karena saya tidak mau di nikahkan dengan cewe jadi-jadian meskipun itu cuma sandiwara)</em> dengan di iringi terbangunnya saya dalam mimpi tersebut.</p>

<p>Ada apa dengan mimpi saya ? Katanya klo mimpi nikah, Ntar diantara kedua pengantin tersebut meninggal ? Benarkah itu ? Ah jadi merinding dah... Semoga ini menjadi mimpi buruk yang harus saya pelajari tabir mimpinya. Ada yang tau dengan Tabir mimpi saya diatas ? Jika ada yang paham dengan ilmu tabir, bantulah saya untuk menabirkan mimpi saya diatas ...!</p>