Date: 6 Jan 2013
Categories: archive, category/linux, category/computer, category/unsera
Description: Review kelebihan dan kekurangan beberapa operating system
Keywords: Operating System, Windows XP, Linux, Mac OS X, Kelebihan dan Kekurangan OS
Summary: Operating System yang digunakan oleh user didunia diantaranya adalah Windows, Linux, <em>&amp;</em> Mac OS X. Diantara ketiga OS tersebut memiliki kekurangan <em>&amp;</em> kelebihannya masing-masing yang akan saya bahas disini. Pertama kita tinjau adalah OS Windows. Windows memiliki beberapa versi diantaranya Windows 95, 98, ME, XP, Vista, 7, 8, Windows Server <em>&amp;</em> Versi lainnya.

%h1 Review Kelebihan <em>&amp;</em> Kekurangan Operating System
<p>Operating System yang digunakan oleh user didunia diantaranya adalah Windows, Linux, <em>&amp;</em> Mac OS X. Diantara ketiga OS tersebut memiliki kekurangan <em>&amp;</em> kelebihannya masing-masing yang akan saya bahas disini. Pertama kita tinjau adalah OS Windows. Windows memiliki beberapa versi diantaranya Windows 95, 98, ME, XP, Vista, 7, 8, Windows Server <em>&amp;</em> Versi lainnya.</p>

<p>Windows XP merupakan Operating System yang banyak dipakai karena mudah dalam pengoperasiannya. Meski Windows sudah meluncurkan versi terbarunya (Vista, 7, <em>&amp;</em> 8), Ternyata masih banyak juga user yang masih betah dengan Windows XP. Secara Visual Grafisnya kurang, Namun hampir semua Hardware <em>&amp;</em> Software support dengan OS yang satu ini. Namun kekurangan lainnya yang terpenting bagi saya adalah keamanan system dengan Registrynya <em>&amp;</em> sangat mudah terinfeksi <em>&amp;</em> menyebarnya virus dari akun ke akun bahkan sampai ke system.</p>

<img class="screenshot" src="/attachments/windows-xp-with-cmd.png">

<p>Selain Windows XP, Linux adalah Operating System yang paling banyak dipakai untuk Server didunia. Dulu memang Linux didesain dengan CLI (Command Line Interface), Namun sekarang Linux sudah berkembang pesat <em>&amp;</em> didesain dengan GUI hingga user awam pun bisa menikmatinya. Kelebihan Linux adalah Open Source, Mempunyai banyak pilihan Distro seperti Ubuntu, Fedora, ArchLinux, Crunchbang, Redhat, OpenSUSE, <em>&amp;</em> masih banyak lainnya. Linux terkenal dengan keamanan systemnya karena virus sulit masuk ke system karena adanya Root Permission. Meski 1 user terkena virus, virus itu tidak mudah menyebar karena di batasi hak aksesnya. Dari sisi Grafisnya, Linux hampir memadai dengan Mac OS X.</p>

<p>Kekurangannya, beberapa Hardware yang sulit dicari Drivernya <em>&amp;</em> Software yang belum kompatibel meski sekarang kita bisa menggunakan Software Emulator seperti Wine. Meskipun kita tidak memakai Wine, Kita masih bisa menikmati Software berbasis Windows seperti CorelDraw digantikan dengan InkScape, Photoshop dengan GIMP, <em>&amp;</em> masih banyak yang lainnya. Kekurangan terakhir adalah perlu beradaptasi dengan Desktop Linux dan Terminal, Karena bagi orang awam sangatlah dipersulitkan untuk bermigrasi ke Linux karena terbiasa dengan Interface Windows.</p>

<img class="screenshot" src="/attachments/linux-crunchbang-statler-with-terminal.png">

<p>Review yang terakhir adalah Mac OS X, Dari segi grafis memang sangat diunggulkan <em>&amp;</em> cocok digunakan untuk seorang designer, Keamanan systemnya juga sangat baik sama halnya dengan Linux karena sama-sama UNIX. Namun kekurangannya adalah harga Lisnsi yang sangat mahal sama halnya dengan Windows.</p>

<img class="screenshot" src="/attachments/mac-os-x.png">

<p>Demikianlah review singkat dari saya <em>&amp;</em> posting terbaru setelah beberapa bulan menghilang, semua review saya tinjau sendiri dengan menggunakan 3 system trsebut dan dokumentasi dari berbagai situs yakni Wikipedia dan
lain-lain.</p>
