Date: 23 Dec 2011
Categories: archive, category/search-engine-optimization
Description: Memburu Backlink Dengan Bantuan Google Hack Dan SEOQuake
Keywords: Syntax Google, Backlink High Quality, Dofollow Backlink, Google Hack
Summary: Banyak banget cara mencari apapun melalui Google dengan begitu akurat jika kita bener-bener menguasai/hafal di luar kepala beberapa Syntax Google Hack. Google Hack bukan berarti kita menghack Google, Tapi itu sebuah Syntax yang digunakan untuk membuat hasil pencarian Google lebih akurat. Kali ini Syntax yang bakal di catet cuma Syntax Mencari Backlink sesuai dengan keinginan kita.

%h1 Mencari Backlink Dengan Bantuan Syntax Google
<p>Banyak banget cara mencari apapun melalui Google dengan begitu akurat jika kita bener-bener menguasai/hafal di luar kepala beberapa <em>Syntax Google Hack</em>. <strong>Google Hack</strong> bukan berarti kita menghack Google, Tapi itu sebuah Syntax yang digunakan untuk membuat hasil pencarian Google lebih akurat. Kali ini Syntax yang bakal di catet cuma <strong>Syntax Mencari Backlink</strong> sesuai dengan keinginan kita.</p>

<p>Dulu saya pernah nemuin <strong>Software Google Hack</strong> yang mana kita hanya mengetikkan keyword saja <em>&amp;</em> diikuti dengan pilihan Syntax yang ada. Tapi ga tau deh Software itu dimana saya downloadnya. Rasanya itu software Google sendiri deh yang buat. Coba searching aja dengan kata kunci <strong>"Google Hack Software"</strong> !</p>

<p>Kali ini pencarian Backlink bukan dengan Syntax Google, Tapi dilakukan secara manual yang di kenal dengan kata <strong>"Footprint"</strong>. Caranya gimana ? Tinggal buka aja Google.com, Lalu masukkan Syntaxnya yang saya tulis dibawah ini...<pre><code><strong>Blog .EDU Backlink</strong>
site:.edu inurl:blog "post a comment" -"you must be logged in" -"comments closed"
<strong>Moodle .EDU Backlink</strong>
site:.edu inurl:login "Login here using your username" "For full access to courses you'll need to take a minute to create a new account for"
<strong>.EDU Discussion Board</strong>
site:.edu "From" "date" "time" "Remote Name" "last changed"
<strong>.EDU Forum Backlink</strong>
site:.edu "Page 1 of 1" "Select sort method" "joined" "Website"
</code></pre>Sebenernya masih banyak sih, yah yang penting udah tau syntaxnya <em>&amp;</em> kemudian tinggal arahin aja kata-katanya sesuai selera. Teknik pencarian Backlink ini pun bisa sangat optimal hasilnya jika sekaligus dilengkapi tool <strong>Dofollow Checker</strong> seperti SEOQuake <em>&amp;</em> lainnya. Tapi katanya SPAM itu HARAM ? Ah, Demi kepentingan pribadi terobos aja deh...</p>