Date: 18 Nov 2011
Categories: archive, category/catatan, category/sepak-bola
Description: Pengamatanku terhadap timnas u 23 di sea games
Keywords: timnas u 23, sea games, Medali Emas
Summary: Ini tentang apa yang sedang saya pikirkan & juga firasat saya tentang Timnas Indonesia U-23 kedepannya. Apa bisa meraih medali emas, perak, perunggu, atau malah tidak sama sekali ...? Indonesia kini melaju ke semifinal dengan perolehan 9 poin "Runner Up Group". Itu disebabkan karena kekalahan sore tadi dari malaysia dengan skor 0-1 yang menjadi Juara Group A.

%h1 Timnas Indonesia U-23 Menurut Pendapatku
<p>Ini tentang apa yang sedang saya pikirkan <em>&amp</em> juga firasat saya tentang Timnas Indonesia U-23 kedepannya. Apa bisa meraih medali emas, perak, perunggu, atau malah tidak sama sekali ...? Indonesia kini melaju ke semifinal dengan perolehan 9 poin <strong>"Runner Up Group"</strong>. Itu disebabkan karena kekalahan sore tadi dari malaysia dengan skor 0-1 yang menjadi Juara Group A.</p>

<p>Indonesia gemilang di awal-awal pertandingan dengan berhasilnya menundukkan lawannya. Indonesia menang dengan skor telak 6-0 disusul dengan kemenangan melawan singapura 2-0 <em>&amp</em> dengan thailand 3-1. Namun indonesia berhasil ditundukkan malaysia dengan skor 1-0. Saya mengkhawatirkan klo pertandingan tadi kalah karena para pemain tampak begitu tegang di hadapkan dengan ribuan suporter yang mendukung Garuda Muda.</p>

<p>Saya berfikir, jika "Timnas Indonesia U-23" memenangkan pertandingan tadi, itu seakan-akan membawa eforia yang sangat tinggi <em>&amp</em> akan berakibat buruk seperti halnya di ajang Piala AFF kemaren. Jika Indonesia menang, berarti Indonesia akan menjadi juara grup. Itu yang saya khawatirkan karena saya takut hal serupa yang pernah di alami Timnas Senior kita di ajang Piala AFF lalu.</p>

<p>Saya yakin kekalahan indonesia tadi bukanlah kekalahan yang sebenarnya. Itu bisa jadi karena ketidaksiapan para pemain yang baru pertama kali di turunkan sebagai Starting Line up keseblasan Garuda Muda. Wajar jika para pemain pelapis kalah dengan pemain inti. Itu disebabkan karena masih kurangnya kebiasaan bermain bersama. Saya tidak suka dengan penampilan "Yongki Ariwibowo". Meski dia pemain berpengalaman, namun jika kemampuannya hanya bisa berdiri, menunggu bola <em>&amp</em> membuang bola sembarangan itu sama sekali tidak layak di turunkan untuk memperkuat skuad Garuda Muda.</p>

<p>Vietnam bukan ancaman bagi Garuda Muda, Tenang saja ...! Jangan terlalu ingin melawan skuad yang terlihat lemah seperti Myanmar, Karena bisa saja Myanmar menjadi sangar. Jadi pikirkanlah skuad terbaikmu Pak Rahmad ! Satukanlah Kurnia Mega, Abdurrahman, Gunawan, Diego Michel, Stevie Bonsapia, Egi Melgiansyah, Dirga Lasut, Andik Vermansyah, Ferdinand Alfred Sinaga, Titus Bonai <em>&amp</em> Patrich Wanggai ...!</p>