Date: 18 Oct 2011
Categories: archive, category/blogging-resource
Description: Tulisan pertama di blog kecil toto
Keywords: toto, blog kecil
Summary: Berawal dari niat saya mencoba blog engine kecil nan imut ini (Toto) yang beroperasi di lingkungan Ruby On Rails, Saya setengah sadar order domain nurulimam.com untuk di pake di blog ini. Kenapa saya bilang setengah sadar ? Itu karena saya sebenernya cuma berniat sewain ade saya (Icha) VPS. Trus setelah saya order, ternyata masih ada sisa $5.

%h1 Tulisan Pertama Untuk Blog Kecilku
<p>Berawal dari niat saya mencoba blog engine kecil nan imut ini (Toto) yang beroperasi di lingkungan Ruby On Rails, Saya setengah sadar order domain nurulimam.com untuk di pake di blog ini. Kenapa saya bilang setengah sadar ? Itu karena saya sebenernya cuma berniat sewain ade saya (Icha) VPS. Trus setelah saya order, ternyata masih ada sisa $5.</p>

<p>Dari sisa saldo Paypal saya itu, saya kebetulan banget liat ada domain dot com murah. Domain di hargai $3 untuk tahun pertama. Padahal klo rencana sebenernya sih pingin borong domain di namecheap waktu promo $1. Setelah saya order ntu domain saya langsung pake ntu domain dengan hostingan gratis untuk di jadikan sebagai personal blog dengan menggunakan CMS WordPress.</p>

<p>Blog + Theme + Plugin sudah siap, Tapi masih belum ada konten karena Paket Internet Unlimited saya abis. Akhirnya saya buat blog dengan menggunakan Toto. Saya iseng membuat blog dengan toto <em>&amp;</em> sudah sempet di aplikasikan menggunakan layanan gratis dari heroku. Blog ini beralamat <code>http://nurulimam.heroku.com</code>.</p>

<p>Saya membuat blog ini karena saya merasa tidak di persulit update artikel. Itu semua di karenakan blog ini bisa berjalan di localhost. Setelah sudah selesai buat artikel di localhost, saya cuma tinggal push ke heroku untuk mempublish artikel secara online.</p>

<p>Intinya, saya berpikiran untuk mencustom domain blog ini menjadi <code>http://www.nurulimam.com</code>. Custom domain di heroku perlu verifikasi dengan menggunakan CC. Saya pinjem deh CC punya istri saya. Akhirnya bisa Custom Domain dengan menggunakan <code>http://www.nurulimam.com</code>.</p>

<p>Apa ini hanya blog sebagai test percobaan atau untuk di pakai seterusnya ? Yups, saya hanya bisa menjawab ya jika kebutuhan saya terpenuhi. Semoga saya betah dengan mesin blog kecil ini.... ! Tapi semenjak 20 November 2011 ini saya memutuskan untuk pindah CMS ke NestaCMS. Alesannya mungkin karena Toto tidak leluasa untuk di modifikasi dengan keterbatasan fiturnya yang mengandalkan kekecilan <em>&amp;</em> kecepatan.</p>