%h1 Tentang Saya
%p
  Nama gua Nurul Imam. Temen-temen gua banyak banget yang manggil gua Tuyum, Wafa, Mli, Towil, Willy,
  %em &
  di semua kalangan gua juga di panggil Abang, Mas, Aa, Kaka, Gus, Ding, Jang, Dan Woy.
%p
  Di antara nama-nama di atas, gua paling sering di panggil Mas {Mungkin karena bapake orang jawa kali ye} Dan Aa {Mungkin juga karena mamake orang sunda}. Tapi jujur dah, Gua paling ga nyaman di panggil Om ama Mas Dan Gua ngerasa nyaman klo di panggil nama aja {Tuyum atau Imam}.
%p Kali ini sih ngeblog ga punya tujuan karena memang gua ga punya banyak waktu buat ngeblog, Maklum gua kebanyakan ngabisin waktu gua buat tidur. Gua bikin nih blog karena memang di butuhin aja buat nyatet catetan gua. Soalnya klo gua nyatet di buku, Ntar kayak cewe donk.
%p
  Pengennya sih gua ngeblog berjalan apa adanya tanpa paksaan, Tapi kok gua ngerasa kepaksa yah bikin blog ini. Ya jalanin aja dah buat ngisi kekosongan buat nyatet
  %a{:href => "http://www.nurulimam.com/note", :title => "Catatan Iseng Nurul Imam"} catatan
  yang sama sekali ga perlu buat di catet.